<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Users page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>

<body>
  <div class="shower table">

    {% if animes %}
    <table>
      <thead>
        <th>Nome</th>
        <th>Gênero</th>
        <th>Status</th>
      </thead>
      {% for acc in animes %}
      <tr>
        <td>{{acc.name}}</td>
        <td>{{acc.topic}}</td>
        <td>{{acc.get_status_display}}</td>
        <t></t>
      </tr>
      {% endfor %}
      {% else %}
      <p>Access error!!!</p>
    </table>
    {% endif%}

    
    {% if style %}
    <table>
      <thead>
        <th>Available styles</th>
      </thead>
      {% for acc in style %}
      <tr>
        <td>{{acc.top_name}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <p>There's no styles to show!!!</p>
      {% endif %}
    </table>
  </div>
</body>
</html>
